@{
    ViewBag.Title = "CreateMassive";
}
<h2>
    CreateMassive</h2>
@using (Html.BeginForm())
{
		 
    <label for="partKey">
        Customer name:</label>
    <input type="text" id="partKey"  name="partKey"/>
    <input type="submit" value="Create massive amount of analyses" />
}